body {
    font-family: 'Permanent Marker', cursive;
    background-color: rgb(77, 79, 78);
    color: #F6AE2D;
}

header {
    display: flex;
    justify-content: flex-right;
    
}
#about-section {
    border: 1px solid #F6AE2D;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

#more-questions {
    border: 1px solid;
    padding: 10px;
    background-color: black;
}
#days {
    border: 1px solid;
    padding: 10px;
    background-color: black;
}

    
/* #weekly-availability {
    display: flex;
    font-size: 20px;
    font-style: italic;
    padding: 10px;
    background-color: #9EC5AB;
    
} */
#h3 {
    border: 1px solid;
    padding: 10px;
    background-color: black;
    font-size: 16px;
}

