/* .hidden {
     color: white;
} */

body {
    background: lavender; 
    background-image: url("assets/softwaredevtutor.jpg");
    background-size:    200%;

    font-family: 'Permanent Marker', cursive;
}
#welcome {
    background-color:white;
    border: 1px solid;

}
#apply-link {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    padding: 10px;
    font-family: 'Permanent Marker', cursive;
    background-color: white;

}
header {
    display: flex;
    justify-content: center;
    text-align: center;
}

